.chats-body {
  background-image: url(../images/chatBg.png);
  padding: 0px 0px;
  padding-top: 100px;
  min-height: 120vh;
}

.statusheader {
  z-index: 2;
  top: 0px;
  position: fixed;
  background: white;
  width: 100%;
  padding: 5px 0px;
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.chat-screen {
  bottom: 0px;
}

.chat-screen .chat__messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
  padding-top: 20px;
}

.chat__messages .chat__timestamp {
  background-color: white;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 20px;
  margin-bottom: 10px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.04);
  text-transform: uppercase;
  font-weight: 200;
}

.chats-body .header,
.chats-body .status-bar {
  padding: 0px 20px;
}

.chat__icon-left {
  position: absolute;
  left: 20px;
}

.chat__icon-right {
  position: absolute;
  right: 20px;
}

@keyframes float {
  0% {
    transform: translateY(-70px);
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
  50% {
    transform: translateY(-60px);
    box-shadow: 0 30px 60px -100px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
  100% {
    transform: translateY(-70px);

    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
}

.chat__icon {
  transition: opacity 0.2s ease-in-out;
}

.chat__write--container {
  position: fixed;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.chat__write {
  margin: 0 auto;
  width: 100%;
  border: none;
  font-size: 14px;
  padding: 15px 50px;
}

.chat__write:focus {
  padding: 15px 30px;
  outline: none;
  width: 80%;
  border-radius: 40px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  animation: float 1.5s ease-in-out infinite forwards;
  transition: border-radius 0.1s ease-in, transform all 1s ease-in-out;
}

.chat__write:focus ~ .chat__icon {
  opacity: 0;
}

.chat__write i {
  font-size: 22px;
}

.chat__write-column:nth-child(2) {
  width: 80%;
}

.message {
  display: flex;
  align-items: flex-start;
  width: 50%;
}

.message .message__content {
  width: 110%;
  margin: 0px 10px;
  font-size: 14px;
}

.message .message__bubble {
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
  border-radius: 18px;
  padding: 10px 17px;
  display: block;
}
@keyframes spin {
  from {
    transform: none;
  }
  to {
    transform: rotateY(1turn);
  }
}
.incoming-message img {
  width: 18%;
  border-radius: 30px;
  box-shadow: 0 30px 60px -60px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  animation: spin 1s linear infinite;
}

.incoming-message {
  align-self: flex-start;
}

.chat-screen .chat__messages:last-child {
  padding-bottom: 110px;
}

.incoming-message .message__bubble {
  border-bottom-left-radius: 0;
}

.sent-message {
  align-self: flex-end;
}
.sent-message .message__bubble {
  border-bottom-right-radius: 0;
}

.message__content .message__auther {
  margin-top: 12px;
  display: block;
  font-weight: 600;
  font-size: 12px;
}

@keyframes incomingAnim {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.incoming-message {
  animation: incomingAnim 0.5s ease-out forwards;
}

@keyframes sentAnimation {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.sent-message {
  animation: sentAnimation 0.5s ease-out forwards;
}
