.bigScreen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: tomato;
  justify-content: center;
  align-items: center;
  font-weight: 200;
  font-size: 18px;
  display: none;
  z-index: 4;
}

@media screen and (min-width: 500px) {
  .bigScreen {
    display: flex;
  }
}
